[Unit]
Description=Сервис запуска табло  API-CAN
After=network.target can0-setup.service
Wants=network.target
Requires=can0-setup.service

[Service]
Type=simple
User=teamhd
Group=teamhd
ExecStart=/home/teamhd/CAN-Tablo-Driver/tablo.run
WorkingDirectory=/home/teamhd/CAN-Tablo-Driver
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal
# Environment=KEY=VALUE
# Права для CAN-raw сокетов (настройка интерфейса вынесена в can0-setup.service)
AmbientCapabilities=CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_RAW
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
